<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/css/css_1.css">
    <title>mi tienda animada</title>
</head>
<body>
    <header>Bienvenido a la tienda de animaciones</header>
    <section class="fondos">
        <div class="fondo1"></div>
        <div class="fondo2"></div>
        <div class="fondo3"></div>
        <div class="fondo4"></div>
        <div class="fondo5"></div>
        <div class="fondo6"></div> 
    </section>
        <section class="precios">
       <div class="pro1"><h2>Snorlax-dito  $50</h2></div>
       <div class="pro2">pokeball $100</div>
       <div class="pro3">Chocolates $150</div>
       <div class="pro4">Miua Miua $1000</div>
       <div class="pro5">Estrellita $1200</div>
       <div class="pro6">Trompo de madera $80</div>
        </section>
    </section>
    <section class="animacion">
   <div class="ani1"></div>
   <div class="ani2"></div>
   <div class="ani3"></div>
   <div class="ani3_2"></div>
   <div class="ani4"></div>
   <div class="ani5_2"></div>
   <div class="ani6"></div>
    </section>   
</body>
</html>