@font-face {
    font-family: 'heav';
    src: url(../fonts/upheavtt.ttf);
}
@font-face {
    font-family: 'script';
    src: url(../fonts/IsaacScript2.ttf);
}
body{
    background-image: url(../img/kime.jpg);
    background-size:contain;
    display: block;
}
header{
    font-family: 'heav';
    background-color: rgb(93, 132, 16);
    text-align: center;
    font-size:xx-large;
    color: rgb(0, 255, 145);
    margin-top: 10px;
}
.ani1{
    background-image: url(../img/dito2.png);
    position: absolute;
    height: 200px;
    width: 200px;
    background-size: cover;
}
.fondo1{
    position: absolute;
    z-index: 5;
    width: 550px;
    height: 350px;
    left:7%;
    background-image: url(../img/ruta13.png);
    top: 100px;
background-size: cover;
    }

    .pro1{
        position: absolute;
        z-index: 5;
        left:20%;
        top: 100px;
        color: #e41aeb;
        font-family: 'script';
        font-size: x-large;
    }

    
.fondo2{
        position: absolute;
        z-index: 5;
        width: 550px;
        height: 350px;
        right:7%;
        background-image: url(../img/pasto.png);
        top: 100px;
    background-size: cover;
        }
        .pro2{
            font-family: 'script';
            font-size: x-large;
            position: absolute;
            z-index: 5;
            right: 19%;
            top: 100px;
            color: rgb(255, 255, 255);
        }
        .fondo3{
            position: absolute;
            z-index: 5;
            width: 550px;
            height: 350px;
            left:7%;
            background-image: url(../img/chocolate.jpeg);
            top: 500px;
        background-size: cover;
            }
            .pro3{
                position: absolute;
                z-index: 5;
                left:21%;
                top: 490px;
                color: aliceblue;
                font-family: 'script';
                font-size: x-large;
            }
            .fondo4{
                position: absolute;
                z-index: 5;
                width: 550px;
                height: 350px;
                right:7%;
                background-image: url(../img/spacio.jpg);
                top: 500px;
            background-size: cover;
                }
                .pro4{
                    font-family: 'script';
                    font-size: x-large;
                    position: absolute;
                    z-index: 5;
                    right:32%;
                    top: 499px;
                    color: aliceblue;
                }
                .fondo5{
                    position: absolute;
                    z-index: 5;
                    width: 550px;
                    height: 350px;
                    left:7%;
                    background-image: url(../img/spacio.jpg);
                    top: 900px;
                background-size: cover;
                    }
                    .pro5{
                        position: absolute;
                        z-index: 5;
                        left:17%;
                        top: 895px;
                        color: aliceblue;
                        font-family: 'script';
                        font-size: x-large;
                    }
                    .fondo6{
                        position: absolute;
                        z-index: 5;
                        width: 550px;
                        height: 350px;
                        right:7%;
                        background-image: url(../img/suelo.jpg);
                        top: 900px;
                    background-size: cover;
                        }
                        .pro6{
                            font-family: 'script';
                            font-size: x-large;
                            position: absolute;
                            z-index: 5;
                            right:25%;
                            top: 895px;
                            color: rgb(25, 52, 75);
                        }
                        .ani1{
                            background-image: url(../img/dito2.png);
                            position: absolute;
                            height: 200px;
                            width: 400px;
                            background-size: contain;
                            z-index: 6;
                            top: 180px;
                            left: 167px;
                        }
                        .ani1:active{
                            transition-property: background-image;
                            transition-duration: .5s;
                            background-image: url(../img/dito3.png);
                        }
                        .ani2{
                            background-image: url(../img/pokeball.png);
                            position: absolute;
                            height: 150px;
                            width: 150px;
                            top: 150px;
                            right: 268px;
                            z-index: 6;
                            background-size: cover;
                            animation-name:lazaro;
                            animation-timing-function: linear;
                                  animation-iteration-count: infinite;
                                  animation-duration: 1s;
                                  animation-direction:alternate-reverse;
                        }
                        
                        @keyframes lazaro {
                            from{top: 150px;}
                            to{top: 280px;}
                        }
                      
                        .ani3{
                            background-image: url(../img/tagetfrog.png);
                            position: absolute;
                            height: 170px;
                            width: 180px;
                            top: 575px;
                            left: 250px;
                            z-index: 6;
                            background-size: contain;
                            animation-name:targeta;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            animation-duration: 3s;
                            animation-direction: alternate;
                        }
                        .ani3_2{
                            background-image: url(../img/tagetfrog1.png);
                            position: absolute;
                            height: 170px;
                            width: 180px;
                            top: 575px;
                            left: 250px;
                            z-index: 6;
                            background-size: contain;
                            animation-name:targeta2;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            animation-duration: 3s;
                            animation-direction: alternate;
                        }
                        @keyframes targeta {
                           0%{opacity: 1;}
                           50%{opacity: .5;}
                           100%{opacity: 0;}
                        }
                        @keyframes targeta2 {
                            0%{opacity: 0}
                            50%{opacity: .5;}
                            100%{opacity: 1;}
                         }
                        .ani4{
                           background-image: url(../img/miau.webp);
                          position: absolute;
                          height: 200px;
                          width: 200px;
                          background-position-x: center;
                          top: 570px;
                          right: 200px;
                          z-index: 6;
                          background-size: cover;
                           animation-name:vibracion;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            animation-duration: .5s;
                            animation-direction: alternate;
                            }
                            @keyframes vibracion {
                                0%{top: 575px;}
                                10%{top: 570px;}
                                20%{right: 210px;}
                                30%{right: 200px;}
                                40%{top: 575px; right: 190px;}
                                50%{top: 570px; right: 200px;}
                                60%{top:575px; right: 210px;}
                                70%{top: 570px; right: 190px;}
                                80%{top: 575px;}
                                90%{top: 570px;}
                                95%{right: 210px;}
                                100%{right: 200px;}
                            }
                           .ani5_2{
                                background-image: url(../img/estrellita.png);
                                position: absolute;
                                height: 160px;
                                width: 180px;
                                background-position-x: center;
                                top: 990px;
                                left: 280px;
                                z-index: 7;   
                                background-size: cover;
                                 animation-name:moscas;
                                  animation-timing-function: linear;
                                  animation-iteration-count: infinite;
                                  animation-duration: 2s;
                                  animation-direction:normal;
                            }
                            @keyframes moscas {
                                from{transform: rotate(0deg);}
                                to{transform: rotate(360deg);}
                            }
                            .ani6
                            {
                                background-image: url(../img/trompo.png);
                                position: absolute;
                                height: 180px;
                                width: 180px;
                                background-position-x: center;
                                top: 990px;
                                right: 280px;
                                z-index: 7;   
                                background-size: cover;
                                 animation-name:mevoy;
                                  animation-timing-function: linear;
                                  animation-iteration-count: infinite;
                                  animation-duration: 2s;
                                  animation-direction:alternate-reverse;
                            }
                            @keyframes mevoy {
                                from{right: -200px;}
                                to{right: 280   px;}
                                

                            }   